.image-button{
  background-color: white;
  border-radius: 50%;
  transition: background-color .1s linear
}

.clicked{
  background-color: gray;
}

.spacer{
  min-height: 25px;
}

.dateText{
  font-size: 20px;
}

.arrow{
  background-color: #ECECEC;
  border-radius: 25%;
  text-align: center;
  padding: 10px;
}
