.image-button{
  background-color: white;
  border-radius: 50%;
  transition: background-color .1s linear
}

.clicked{
  background-color: gray;
}

.spacer{
  min-height: 25px;
}

.dateText{
  font-size: 20px;
}

.arrow{
  background-color: #ECECEC;
  border-radius: 25%;
  text-align: center;
  padding: 10px;
}

#workout{
  position: absolute;
  left: calc(50% - 64px);
  /*top: 200px;*/
}

#abs{
  position: absolute;
  left: calc(50% - 64px);
  top: 178px;
}

#vegetable{
  position: absolute;
  left: calc(50% - 64px);
  top: 336px;
}
